* {
  box-sizing: border-box;
}

img{
   width: auto;
   display: block;
}

body {
  font-family: sans-serif;
  font-size:0;
}

footer {
  background-color: #fff;
  opacity: .75;
  display: block;
  width: 100%;
  margin: 20px;
}

.imgstack {
  width: 100%;
  margin: 0;
}

.logo {
  max-height: auto;
  max-width: 200px;
  margin: 1%;
  float: left;
}

.header {
  font-size: small;
  color: #444;
  display: inline-block;
  width: 100%;
}

.ops {
  text-align: right;
  vertical-align: middle;
  display: block;
  float: right;
  padding: 15px;
}

.menu {
  font-weight: bolder;
}

.topRo {
  background-color: #ddd;
  color: #fff;
}

.search {
  outline: none;

}


@media screen and (min-width: 600px) {

  header {
    display: block;
  }

  .imgstack img{
    width:50%;
    display: inline;
  }
}

@media screen and (min-width:768px) {
  .imgstack img{
    width: 33%;
    display: inline;
  }

  .filt {
    border-right: 1px solid #444;
    padding: 10px;
  }

  .menu {
    padding: 9px;
  }
}

@media screen and (min-width: 992px){
  .imgstack img{
    width: 25%;
    display: inline;
  }

  .filt {
    border-right: 1px solid #444;
    padding: 10px;
  }

  .menu {
    padding: 9px;
  }
}
